
# Claude
# Project
# Swift Package Manager
# Xcode
# macOS
*.dSYM
*.dSYM.zip
*.dmg
*.hmap
*.ipa
*.moved-aside
*.xccheckout
*.xcodeproj/project.xcworkspace/xcuserstate
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
.AppleDouble
.DS_Store
.LSOverride
._*
.build/
.claude/*
.swiftpm/
CLAUDE.md
CellarCore/.build/
DerivedData/
Package.resolved
TODO.md
build/
docs/
scripts/
