# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
CellarCore/.build/
Package.resolved

# Claude
.claude/*

# Project
CLAUDE.md
TODO.md
